
.wrapper-movie{
    position: relative;
    width: 100vw;
    height: 83.5vh;
    opacity: 1;
}

.wrapper-movie .backdrop-slice{
    position: absolute;
    width: 100%;
    opacity: 0;
    scale: 1.2;
    height: 100%;
    transition: 0.5s ease;
}

.wrapper-movie .backdrop-slice img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.wrapper-movie .backdrop-slice.active2{
    opacity: 1;
    scale: 1;
}

.watchlist img{
    background-color: var(--accent-color); 
    border-radius: 50%;
}

.content-movie .watchlist{
    position: relative;
}

.content-movie .watchlist::after{
    content: 'Please login';
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 0.5rem;
    opacity: 0;
    transform: translateX(-75px) translateY(20px);
    transition: 0.5s ease;
}

.content-movie .watchlist.active::after{
    opacity: 1;
    transform: translateY(40px) translateX(-75px);
    z-index: 999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper-movie .content-movie{
    padding: 2rem;
    padding-left: 4rem;
    color: var(--text-color2);
    width: 70%;
    position: relative;
}

.animation{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.animation:nth-child(1){
    animation-delay: 0.05;
}

.animation:nth-child(2){
    animation-delay: 0.1s;
}

.animation:nth-child(3){
    animation-delay: 0.15s;
}

.animation:nth-child(4){
    animation-delay: 0.2s;
}

.animation:nth-child(5){
    animation-delay: 0.25s;
}

.animation:nth-child(6){
    animation-delay: 0.3s;
}

.wrapper-movie .content-movie h2{
    font-size: calc(1rem + 2vw);
    white-space: nowrap;
}

.wrapper-movie small{
    color: var(--accent-color);
    margin-right: 0.5em;
}

.content-movie #description{
    height: 110px;
    overflow-y: auto;
    
}
.content-movie #description::-webkit-scrollbar{
    display: none;
}

.wrapper-movie .content-movie p{
    margin-top: 1.5em;
    font-size: calc(0.65rem + 0.5vw);
    
}

.wrapper-movie .content-movie h4{
    margin-top: 1em;
    font-size: 1em;
}

.wrapper-movie .content-movie .actor{
    display: flex;
    position: relative;
    gap: 2em;
    padding: 1em;
}

.wrapper-movie .content-movie .actor-card{
    position: relative;
    width: 6em;
    height: 8em;
    background-color: var(--base-color);
    border-radius: 0.25em;
    overflow: hidden;
    transition: 0.3s ease;
}

.wrapper-movie .content-movie .actor-card img{
    width: 100%;
    height: 7em;
    z-index: 1;
    object-fit: cover;
}

.wrapper-movie .content-movie .actor-card p{
    position: absolute;
    padding: 5px;
    font-size: 0.75em;
    z-index: 2;
    bottom: 15px;
        
}

.content-movie a{
    text-decoration: none;
    color: var(--accent-color);
}

.wrapper-movie .content-movie .actor-card:hover{
    background-color: var(--accent-color);
}

.wrapper-movie .content-movie .btn{
    display: flex;
    flex-direction: row;
}

.wrapper-movie .content-movie .btn a{
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color2);
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 1rem;
    cursor: pointer;
}

.wrapper-movie .content-movie .btn #trailer{
    background-color: var(--base-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    
}

.ifram-trailer{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    top: 0;
    z-index: -999;
    opacity: 0;
    transition: 0.5s ease-in;
    justify-content: center;
    align-items: center;
}

.ifram-trailer.show{
    opacity: 1;
    z-index: 999;
}

#iframe{
    position: relative;
    width: 60vw;
    max-width: 700px;
    height: 50vh;
    anchor-name: --a;
    
}

.ifram-trailer a{
    text-decoration: none;
    position: absolute;
    background-color: var(--accent-color);
    color: var(--text-color2);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    position-anchor: --a;
    top: anchor(bottom);
    left: anchor(right);
    transform: translateX(-60px) translateY(10px);
}

@media screen and (max-width: 840px) {
    .wrapper-movie .content-movie{
        width: 100%;
        padding: 2rem 2rem;
        justify-content: center;
    }

    .wrapper-movie{
        min-height: 85vh;
    }
}