
.playing{
    position: relative;
    display: flex;
    padding-top: 100px; 
    align-items: center;
    flex-direction: column;
    min-height: 83.5vh;
}

.player{
    position:relative; 
    width: 600px; 
    height: 300px;
    margin-top: 20px;
}

@media screen and (max-width: 840px) {
    .playing{
        min-height: 85vh;

    }

    
}

@media screen and (max-width: 605px) {
    .player{
        width: 400px;
        height: 100px;
    }

}

