{% extends 'nav_bar.html' %}
{% load static %}

{% block title %}
<title>Actor</title>
{% endblock %}

{% block content %}
<div class="popular-movies" style="min-height: 85vh ;">
    <h2>{{actor_first_name}} {{actor_last_name}} >></h2>
    <div class="wrapper-movie-card">
        {% for movie in movies %}
        <a href="{% url 'movie' title=movie.title pk=movie.id %}"><div class="movie-card">
            <div class="poster">
                <img src="{{movie.poster.url}}">
                <p class="qulity">{{movie.qulity}}</p>
            </div>
            <div class="card-content">
                <p>{{movie.title}}</p>
                <hr>
                {% for genre in movie.genres.all %}
                <small>{{genre.genre_choice}}</small>
                {% endfor %}
            </div>
        </div></a>
        {% endfor %}
    </div>
</div>
<script>
    const sections = document.querySelectorAll('.movie-card')
    const observer = new IntersectionObserver((entries)=>{
        entries.forEach((entry,i)=>{
            if(entry.isIntersecting){
            entry.target.classList.add('show')
            }
        }) 
        
    },{
        threshold : 1
    })

    sections.forEach((section)=>{
        observer.observe(section)
    }) 
</script>
{% endblock %}