{% extends 'nav_bar.html' %}
{% load static %}
{% block title %}
<title>Change Password | Watching Free Movies and TV Shows</title>
<link rel="stylesheet" href="{% static 'css/change_password_style.css' %}">
<link rel="canonical" href="https://4allmovie.com/change-password" />
<meta property="og:url" content="https://4allmovie.com/change-password" />
{% endblock %}
{% block content %}
<div class="container-change-password">
<h1> Change Password</h1>
<h3>Username: {{user}}</h3>
<br>
<form method="POST">
{% csrf_token %}
<div class="info">
<div class="cloum1">
<p>Old Password</p>
<p>New Password</p>
<p>Confirmed Password</p>
</div>
<div class="cloum2">
{{ form.old_password}}
{{ form.new_password1}}
{{ form.new_password2}}
<button type="submit">Change Password</button>
{% if form.errors %}
<div style="margin-left:20px" class="error">
{% for field, errors in form.errors.items %}
{% for error in errors %}
<li>{{ error|escape }}</li>
{% endfor %}
{% endfor %}
</div>
{% endif %}
{% if messages %}
<div class="message-container">
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
{{ message }}
</div>
{% endfor %}
</div>
{% endif %}
</div>
</div>
</form>
</div>
{% endblock %}