
{% extends 'nav_bar.html' %}
{% load static %}

{% block title %}
    <title>Playing</title>
    <link rel="stylesheet" href="{% static 'css/playing_style.css' %}">
{% endblock %}

{% block content %}
<div class="playing"> 
    <h2 style="position: relative;"> Now Playing {{movie.title}}</h3>
   
    <div class="player"><iframe src="{{movie.bunny_embed_code}}" loading="lazy" style="border:0;position:absolute;top:0;height:300px;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
    </div>
</div>

{% endblock %}