
{% extends 'nav_bar.html' %}
{% load static %}

{% block title %}
    <title>Playing</title>
    <link rel="stylesheet" href="{% static 'css/playing_style.css' %}">
{% endblock %}

{% block content %}
<div class="playing"> 
    <h2 style="position: relative;"> Now Playing {{movie.title}}</h3>
   
    <div class="player"><iframe src="{{movie.bunny_embed_code}}" loading="lazy" style="border:0;position:absolute;top:0;height:300px;width:100%;display: block;" allow="autoplay;accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
    </div>
</div>
<div style="position:relative;padding-top:56.25%;"><iframe src="https://player.mediadelivery.net/embed/604497/3bac8590-86c2-4a81-b94a-eb1e4c304d20?autoplay=true&loop=false&muted=true&preload=true&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>

{% endblock %}