{% extends 'nav_bar.html' %}
{% load static %}
{% block title %}
<title>Playing | Watching Free Movies and TV Shows</title>
<link rel="stylesheet" href="{% static 'css/playing_style.css' %}">
<script src="https://emotionallytonightintelligent.com/f2/6f/d1/f26fd1b35c45897b6d6ce51e3ec92b77.js"></script>
<link rel="canonical" href="https://4allmovie.com/playing" />
<meta property="og:url" content="https://4allmovie.com/playing" />
{% endblock %}
{% block content %}
<div class="playing">
<h1 style="position:relative"> Now Playing {{movie.title}}</h1>
<div class="player"><iframe src="{{movie.bunny_embed_code}}" fetchpriority="high" style="border:0;position:absolute;top:0;height:300px;width:100%;display:block" allow="autoplay;accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
</div>
</div>
{% endblock %}