{% extends 'nav_bar.html' %}
{% load static %}

{% block title %}
<title>Popular Movies</title>
<link rel="canonical" href="https://4allmovie.com/popular-movies" />
{% endblock %}

{% block content %}
<div class="popular-movies" style="min-height: 85vh ;">
    <h2>Popular Movies >></h2>
    <div class="wrapper-movie-card">
        <div class="movie-card">
            <script async="async" data-cfasync="false" src="https://jumblenewsletterdebark.com/8ecc8c56047d70d0e155d74b0457506d/invoke.js"></script>
            <div id="container-8ecc8c56047d70d0e155d74b0457506d"></div>
        </div>
        {% for movie in movies %}
        <a href="{% url 'movie' title=movie.slug pk=movie.id %}"><div class="movie-card">
            <div class="poster">
                <img src="{{movie.poster.url}}">
                <p class="qulity">{{movie.qulity}}</p>
            </div>
            <div class="card-content">
                <p>{{movie.title}}</p>
                <hr>
                {% for genre in movie.genres.all %}
                <small>{{genre.genre_choice|title}}</small>
                {% endfor %}
            </div>
        </div></a>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<script>
    const sections = document.querySelectorAll('.movie-card')
    const observer = new IntersectionObserver((entries)=>{
        entries.forEach((entry,i)=>{
            if(entry.isIntersecting){
            entry.target.classList.add('show')
            }
        }) 
        
    },{
        threshold : 1
    })

    sections.forEach((section)=>{
        observer.observe(section)
    }) 
</script>
{% endblock %}