{% extends 'nav_bar.html' %}
{% load static %}

{% block title %}
<title>Genre</title>
{% endblock %}

{% block content %}
<div class="popular-movies" style="min-height: 85vh ;">
    {% if movies %}
    <h2>Search Result for : {{search1}} >></h2>
    <div class="wrapper-movie-card">
        <div class="movie-card">
            <script async="async" data-cfasync="false" src="https://abovemyselfsadness.com/8ecc8c56047d70d0e155d74b0457506d/invoke.js"></script>
            <div id="container-8ecc8c56047d70d0e155d74b0457506d"></div>
        </div>
        {% for movie in movies %}
        <a href="{% url 'movie' title=movie.title pk=movie.id %}"><div class="movie-card">
            <div class="poster">
                <img src="{{movie.poster.url}}">
            </div>
            <div class="card-content">
                <p>{{movie.title}}</p>
                <hr>
                {% for genre in movie.genres.all %}
                <small>{{genre.genre_choice}}</small>
                {% endfor %}
            </div>
        </div></a>
        {% endfor %}
    </div>
    {% else %}
    <h2> No Result for : {{search1}} >></h2>
    {% endif %}
</div>
<br>
<br>
<br>
<script>
    const sections = document.querySelectorAll('.movie-card')
    const observer = new IntersectionObserver((entries)=>{
        entries.forEach((entry,i)=>{
            if(entry.isIntersecting){
            entry.target.classList.add('show')
            }
        }) 
        
    },{
        threshold : 1
    })

    sections.forEach((section)=>{
        observer.observe(section)
    }) 
</script>
{% endblock %}